*.o
*.d
*~
*.flat
*.a
.*.cmd
*.ko
*.mod.c
kvm-rvmi-kmod/config.mak
kvm-rvmi-kmod/kvm-kmod-config.h
kvm-rvmi-kmod/modules.order
kvm-rvmi-kmod/Module.symvers
kvm-rvmi-kmod/Modules.symvers
kvm-rvmi-kmod/Module.markers
kvm-rvmi-kmod/.tmp_versions
kvm-rvmi-kmod/.tmp.kvm-kmod.*
kvm-rvmi-kmod/include-compat/asm
kvm-rvmi-kmod/include
kvm-rvmi-kmod/x86/modules.order
kvm-rvmi-kmod/x86/i825[49].[ch]
kvm-rvmi-kmod/x86/kvm_main.c
kvm-rvmi-kmod/x86/kvm_svm.h
kvm-rvmi-kmod/x86/vmx.[ch]
kvm-rvmi-kmod/x86/svm.[ch]
kvm-rvmi-kmod/x86/mmu.[ch]
kvm-rvmi-kmod/x86/mmu_audit.c
kvm-rvmi-kmod/x86/paging_tmpl.h
kvm-rvmi-kmod/x86/ioapic.[ch]
kvm-rvmi-kmod/x86/iodev.h
kvm-rvmi-kmod/x86/irq.[ch]
kvm-rvmi-kmod/x86/lapic.[ch]
kvm-rvmi-kmod/x86/tss.h
kvm-rvmi-kmod/x86/x86.[ch]
kvm-rvmi-kmod/x86/coalesced_mmio.[ch]
kvm-rvmi-kmod/x86/kvm_cache_regs.h
kvm-rvmi-kmod/x86/irq_comm.c
kvm-rvmi-kmod/x86/timer.c
kvm-rvmi-kmod/x86/kvm_timer.h
kvm-rvmi-kmod/x86/iommu.c
kvm-rvmi-kmod/x86/svm-trace.h
kvm-rvmi-kmod/x86/trace-arch.h
kvm-rvmi-kmod/x86/trace.h
kvm-rvmi-kmod/x86/vmx-trace.h
kvm-rvmi-kmod/x86/assigned-dev.c
kvm-rvmi-kmod/x86/emulate.c
kvm-rvmi-kmod/x86/eventfd.c
kvm-rvmi-kmod/x86/mmutrace.h
kvm-rvmi-kmod/x86/async_pf.[ch]
kvm-rvmi-kmod/x86/pmu.c
kvm-rvmi-kmod/x86/cpuid.[ch]
kvm-rvmi-kmod/x86/debugfs.c
kvm-rvmi-kmod/x86/hyperv.[ch]
kvm-rvmi-kmod/x86/irqchip.c
kvm-rvmi-kmod/x86/mtrr.c
kvm-rvmi-kmod/x86/page_track.c
kvm-rvmi-kmod/x86/pmu.h
kvm-rvmi-kmod/x86/pmu_amd.c
kvm-rvmi-kmod/x86/pmu_intel.c
kvm-rvmi-kmod/x86/vfio.[ch]
kvm-rvmi-kmod/x86/vmi.[ch]
kvm-rvmi-kmod/.stgit-*
